.input:focus {}

.input {
    display: flex;
    width: 372px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.inputWrapper {}

.superInput {}

.errorInput {}

.errorInput:focus {}

.error {}