.friendMessage {
    margin-top: 47px;
}

.friendImageAndText {
    display: flex;
    margin-left: 15px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.friendText {
    width: 414px;
    height: 60px;
    flex-shrink: 0;
    margin-left: 15px;
    border-radius: 5px;
}

.friendText:after {

}

.friendName {
    margin-left: 5px;
    color: #000;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.friendMessageText {
    margin-left: 5px;
    color: #000;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.friendTime {
    color: #000;
    font-family: 'Montserrat';
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 20px;
}
